{% extends 'core/base.html' %}

{% block title %}My account{% endblock %}

{% block content %}
{% load static %}
<style>
    .costumHeight{
        height: 100vh;
    }
    .formFlex{
        justify-content: space-between;
        height: 100%;
    }
    .mb-35{
        margin-bottom: 35px;
    }
    .w-100{
        width: 100%;
    }
    .h-100{
        height: 100%;
    }
    .justify-arround{
        justify-content: space-between;
    }
    .max-w{
        max-width: 510px;
        height: calc(100vh - 200px);

    }

    .text_s{
        font-size:larger;
        font-weight: bold;
    }

    .color {
        background-color: #0B2674;
    }
   
    .border{
        border-radius: 5px;
        border: 1px solid #EBE8F0;
    }
    .small-img {
    width: 200px;
    height: 150px;
  }
  .center{
    display: flex;
    align-items: center;
    justify-content: center;  
  }

  .button {
    width: 300px;
    text-align: center;
    border-radius: 5px;

  }

  .button:hover{
    color:#0B2674;
    border: 1px solid #0B2674;
    background-color: #ffff;
    
  }
  .img{
    width: 300px;
  }
  
</style>
<div class="max-w-6xl mx-auto p-6 flex justify-arround">
   

    <div class="mb-6 flex-col">
        <h1 class="mb-5 text-3xl text-blue-800">My account</h1>
        <div class="mb-35" >
            <strong>Name: </strong>{{ request.user.get_full_name }}<br>
        </div>
        <div class="mb-35"> 
            <strong>Username: </strong>{{ request.user.username }}<br>
        </div>
        <div class="mb-35">
            <strong>E-mail: </strong>{{ request.user.email }}<br>
        </div>
    </div>
    <div >
        <img class="small-img mb-35" src="{% static 'image/bussiness-man.png' %}" >
        
    </div> 
</div>
<div class="center">
    <a href="{% url 'edit_myaccount' %}" class="p-3 button text-white text_s color">Edit</a>
</div>

<div class="max-w-6xl mx-auto p-6">
    
    <hr>
    <h2 class="my-6 text-xl">My orders</h2>

    {% for order in request.user.orders.all %}
        <div class="w-full mb-6 p-6 flex flex-wrap bg-gray-100 rounded-xl">
            <div class="mb-6 flex justify-between">
                <a href="#">Order id: {{ order.id }}</a>
            </div>

            <div class="mb-6 w-full">
                {% for item in order.items.all %}
                    <div class="product mb-6 flex pr-6">
                        <a href="#" class="w-1/4">
                            <img class="hover:shadow-lg rounded-xl" src="{{ item.product.get_thumbnail }}">
                        </a>

                        <div class="w-3/4 pl-6">
                            <div class="flex justify-between">
                                <a href="#" class="text-lg">{{ item.product.name }}</a>

                                <p class="mb-6 pt-1 text-gray-400">${{ item.get_total_price }}</p>
                            </div>

                            <hr>

                            <div class="mt-6">
                                Quantity: {{ item.quantity }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div>
                <p class="text-lg">Date: {{ order.created_at }}</p>
                <p class="text-lg">Total: ${{ order.get_total_price }}</p>
            </div>
        </div>

</div>
    
    {% endfor %}

{% endblock %}