{% extends 'core/base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<style>
    
    .justify-arround{
        justify-content: space-between;
    }
    .max-w{
        max-width: 510px;
        height: calc(100vh - 200px);

    }

    .text_s{
        font-size:larger;
        font-weight: bold;
    }

    .color {
        background-color: #0B2674;
    }
   
    .border{
        border-radius: 5px;
        border: 1px solid #EBE8F0;
    }
 
  .center{
    display: flex;
    align-items: center;
    justify-content: center;  
   
  }

  .button {
    width: 200px;
    text-align: center;
    border-radius: 5px;

  }

  .button_ {
    width: 100px;
    text-align: center;
    border-radius: 5px;
    margin-top: 15px;

  }
  .button_:hover{
    color:#0B2674;
    border: 1px solid #0B2674;
    background-color: #ffff;
    
  }

  .button:hover{
    color:#0B2674;
    border: 1px solid #0B2674;
    background-color: #ffff;
    
  }

  .rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 30px;
  color: #ddd;
  float: right;
  cursor: pointer;
}

.rating label:before {
  content: '\2605';
}

.rating input:checked ~ label,
.rating label:hover {
  color: #ffcc00;
}

.mt{
    margin-top: 13px;
}
.ml{
    margin-left: 15px;
}
.mb{
    margin-bottom: 15px;
}



</style>
<div class="max-w-6xl mx-auto flex flex-wrap py-6 px-6 xl:px-0">
    <div class="images w-full mb-6 lg:mb-0 lg:w-3/5">
        <img 
            class="rounded-xl" 
            src="{% if product.image %}{{ product.image.url }}{% else %}https://via.placeholder.com/240x240x.jpg{% endif %}"
        >
    </div>

    <div class="information w-full lg:w-2/5 lg:p-6">
        <h1 class="text-2xl">{{ product.name }}</h1>

        <p class="mt-1 text-gray-400">${{ product.get_display_price }}</p>

        {% if product.get_rating > 0 %}
            <p class="mt-1 text-gray-400">Rating: {{ product.get_rating }} / 6</p>
        {% endif %}

        {% if product.description %}
            <p class="mt-6 text-gray-700">
                {{ product.description }}
            </p>
        {% endif %}

        {% if request.user.is_authenticated %}
            {% if request.user == product.created_by %}
                <a href="{% url 'product:edit' product.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">Edit</a>
                <a href="{% url 'product:delete' product.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Delete</a>
            {% else %}
                <a 
                    href="#" 
                    class="mt-6 inline-block px-8 py-4 p-3 button text-white text_s color"
                    hx-get="{% url 'add_to_cart' product.id %}"
                    hx-target="#menu-cart-button"
                    hx-swap="outerHTML"
                >
                    Add to cart
                </a>
            {% endif %}   
        {% endif %}

            <div class="w-full mt-6">

        {% if request.user.is_authenticated %}
            <form method="post" action="." class="mt-6 mb-6 p-6  rounded-xl">
                {% csrf_token %}
                <div class="flex justify-arround">
                    <div class="w-2/3">
                        <div class="flex">
                            <h2 class="mt">Rating</h2>
                          <div class="rating ml">
                            <input type="radio" id="star5" name="rating" value="5">
                            <label for="star5"></label>
                            <input type="radio" id="star4" name="rating" value="4">
                            <label for="star4"></label>
                            <input type="radio" id="star3" name="rating" value="3">
                            <label for="star3"></label>
                            <input type="radio" id="star2" name="rating" value="2">
                            <label for="star2"></label>
                            <input type="radio" id="star1" name="rating" value="1">
                            <label for="star1"></label>
                          </div>
                         </div>
                        
                        <div >
                            <label >Comment</label><br>
                            <textarea class=" mt border" name="content"></textarea>
                        </div>
    
                    </div>
                    
                    <div class="center w-1/3 ml">
                        <button class="p-3 button_ text-white text_s color">Submit</button>
                    </div>

                </div>
            </form>
        {% endif %}

        {% for review in product.reviews.all %}
            <div class="px-4 py-6 bg-gray-100 rounded-xl mb-4">
                <strong>Rating:</strong> {{ review.rating }}/6<br>
                <strong>Date:</strong> {{ review.created_at|date:"Y-m-d" }}<br>
                <strong>Comment:</strong><br>
                {{ review.content }}
            </div>
        {% endfor %}
    </div>
    </div>


</div>
{% endblock %}