{% extends 'core/base.html' %}

{% block title %}Shop{% endblock %}

{% block content %}
<style>
    .justify_around{
        margin-left: 20px;
    }
    .text_s{
        font-weight: bold;
        color: #0B2674;
    }
    .border{
        
        border: 1px solid #EBE8F0;
        border-left: none;
    }
    .border_r{
        border: 1px solid #EBE8F0;
        border-right:none;

    }
    .color{
        color:#0B2674;
    }
</style>

<div  class="max-w-6xl  flex flex-wrap items-start py-6 px-6 xl:px-0 justify_around  ">
    <div class="filters w-full lg:w-1/4">
        <h3 class="mb-3 text-xl uppercase text_s ">Search</h3>

        <form method="get" action=".">
            <div class="flex">
                <input type="text" name="query" class="p-4 border_r " placeholder="Search...">

                <button class="p-4 border">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </button>
            </div>
        </form>

        <h3 class="mt-6 mb-3 text-xl uppercase text_s">Categories</h3>

        <ul class="space-y-2">
            <li><a href="{% url 'shop' %}" class="{% if not active_category %}color{% else %}text-gray-500{% endif %}">All categories</a></li>

            {% for category in categories %}
                <li><a href="{% url 'shop' %}?category={{ category.slug }}" class="{% if category.slug == active_category %}color{% else %}text-gray-500{% endif %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="products w-full lg:w-3/4 -mt-4 flex items-center flex-wrap">
        {% for product in products %}
            {% include 'product/partials/product_list_item.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}